<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>黑色Html5响应式个人博客模板——主题《如影随形》</title>
    <meta name="keywords" content="个人博客模板,博客模板,响应式"/>
    <meta name="description" content="如影随形主题的个人博客模板，神秘、俏皮。"/>
    <link href="{__PUBLIC__}Home/css/base.css" rel="stylesheet">
    <link href="{__PUBLIC__}Home/css/style.css" rel="stylesheet">
    <link href="{__PUBLIC__}Home/css/media.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">
    <!--[if lt IE 9]>
    <script src="{__PUBLIC__}Home/js/modernizr.js"></script>
    <![endif]-->

    <link rel="stylesheet" href="{__PUBLIC__}highlight/default.css">
    <script src="{__PUBLIC__}highlight/highlight.pack.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
</head>
<body>
<div class="ibody">
    {include file='../Public/header.html'}
    <article>
        <h2 class="about_h">您现在的位置是：<a href="/">{$name.name}</a>><a href="1/">{$row.name}</a>><a href="1/">{$row.title}</a></h2>
        <div class="index_about">
            <h2 class="c_titile">{$row.title}</h2>
            <p class="box_c">
                <span class="d_time">发布时间：{$row.ptime}</span>
                <span>分类：{$row.name}</span>
                <span>浏览（{$row.hits}）</span>
                <span>评论览（14）</span>
            </p>
            <ul class="infos">
             {$row.content}
              </ul>
            <div class="keybq">
                <p><span>关键字词</span>：黑色,个人博客,时间轴,响应式</p>
            </div>
            <div class="nextinfo">
                <p>上一篇：<a href="/news/s/2013-09-04/606.html">程序员应该如何高效的工作学习</a></p>
                <p>下一篇：<a href="/news/s/2013-10-21/616.html">柴米油盐的生活才是真实</a></p>
            </div>
            <!--评论 start-->
            <div class="pinglun">
                <h2>精彩评论</h2>
                <ul>
                    {foreach $pinglun as $val}
                    <li>
                        <img src="{$val.face}">
                        <div class="parea">
                            <div class="sender">{$val.username}</div>
                            <p class="pcontent">{$val.content}</p>
                            <div>
                                <span>{$val.ctime|date_format:"%Y-%m-%d"}</span>
                            </div>
                        </div>
                    </li>
                   {/foreach}
                </ul>
                {if isset($smarty.session.uname)}
                <form action="?c=Comment&a=addComment&categoryid={$smarty.get.categoryid}&type=xiao" method="post">
                    <textarea name="content"></textarea>
                    <input type="hidden" name="articleid" value="{$smarty.get.articleid}">
                    <input type="submit" value="发表">
                </form>
               {else}
                    <p style="color: #0d0d0d; font-size: 18px; padding:8px;">如果要发表评论，请先
                        <a href="index.php?c=Login&a=log">登录</a>
                    </p>

                {/if}
            </div>
            <!--评论 end-->
            <div class="otherlink">
                <h2>相关文章</h2>
                <ul>
                    <li><a href="/news/s/2013-07-25/524.html" title="现在，我相信爱情！">现在，我相信爱情！</a></li>
                    <li><a href="/newstalk/mood/2013-07-24/518.html" title="我希望我的爱情是这样的">我希望我的爱情是这样的</a></li>
                    <li><a href="/newstalk/mood/2013-07-02/335.html" title="有种情谊，不是爱情，也算不得友情">有种情谊，不是爱情，也算不得友情</a></li>
                    <li><a href="/newstalk/mood/2013-07-01/329.html" title="世上最美好的爱情">世上最美好的爱情</a></li>
                    <li><a href="/news/read/2013-06-11/213.html" title="爱情没有永远，地老天荒也走不完">爱情没有永远，地老天荒也走不完</a></li>
                    <li><a href="/news/s/2013-06-06/24.html" title="爱情的背叛者">爱情的背叛者</a></li>
                </ul>
            </div>
        </div>
    </article>
    <aside>
        <div class="rnav">
            <li class="rnav1 "><a href="/">{$smalltitle.0.name}</a></li>
            <li class="rnav2 "><a href="/">{$smalltitle.1.name}</a></li>
            <li class="rnav3 "><a href="/">{$smalltitle.2.name}</a></li>
            <li class="rnav4 "><a href="/">{$smalltitle.3.name}</a></li>
        </div>
        <div class="ph_news">
            <h2>
                <p>点击排行</p>
            </h2>
            <ul class="ph_n">
                {foreach $hits as $art}
                <li><a href="?c=Article&a=index&articleid={$art.articleid}&categoryid={$smarty.get.categoryid}&type=''">{$art.title}</a></li>
                {/foreach}
            </ul>
            <h2>
                <p>栏目推荐</p>
            </h2>
            <ul>
                {foreach $new as $res}
                <li><a href="?c=Article&a=index&articleid={$res.articleid}&categoryid={$smarty.get.categoryid}&type=''">{$res.title}</a></li>
                {/foreach}
            </ul>

    {include file='../Public/right.html'}
    <!-- 清除浮动 -->
</div>
</body>
</html>
